/*Header*/

#header{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    gap: 10px;    
}

#header h1, 
#header h3, 
#header h4 {
    margin: 0;
    padding: 0;
}


#dados{
    display: flex;  
    justify-content: center;
    align-items: center;
    
    gap:20px;
}

.dados_especificos{
    border-radius: 10px;
    padding-left: 20px;

    width: 300px;
    height: 150px;

    background: linear-gradient(to top,#003366,#006633);
    color: white;
    box-shadow: 2px 2px 10px black;
}

#Sugestões{
    display: flex;  
    justify-content: center;
    align-items: center;
    
    gap:20px;
}

#Sugestões .dados_especificos{
    width: 470px;
}

#tablelinha_de_historicos{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    margin: 20px auto;
    max-width: 1000px;
    background-color: hsla(0, 0%, 96%, 0.947);
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    text-align:justify;
    overflow: hidden;
}

#tablelinha_de_historicos h3{
    padding-left: 20px;
}

#tabela tr:nth-child(1){
    background-color: #006633 ;
    color: white;
}

#tabela tr:nth-child(2n + 2){
    background-color: rgb(206, 206, 206) ;
}

#tabela {
    border-collapse: collapse;
    width: 100%;
}