@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
    --gradiente-unb: linear-gradient(to top, #003366, #006633);
    --unb-verde: #006633;
    --unb-azul: #003366;
    --barra-de-progresso: #00e676;
    --text-preto: #333;
    --text-branco: #ffffff;
    --text-cinza: #888;
    --background: #f9f9f9;
    --font-family-base: 'Inter', sans-serif;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base);
    color: var(--text-preto);
}

#page-header {
    text-align: center;
    margin: 20px 0 20px 0;
}

#page-header h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
    
    color: var(--unb-azul); 
    background-image: var(--gradiente-unb);
  
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

#page-header #username {
    font-size: 16px;
    color: var(--text-cinza);
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

#page-header #curso {
    font-size: 12px;
    color: var(--text-cinza);
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0;
}

.dashboard-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.row-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card-info {
    flex: 1; 
    background: var(--gradiente-unb);
    border-radius: 12px;
    padding: 20px;
    color: var(--text-branco);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info h3 {
    font-size: 24px;
    font-weight: 600;
    opacity: 0.9;
    margin-bottom: 10px;
}

.big-number {
    font-size: 42px;
    font-weight: 700;
    margin: 0px 0px 4px 0px;
}

.subtitle {
    font-size: 12px;
    opacity: 0.8;
    margin: 0;;
}

.progress-container {
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    height: 8px;
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;
}

.progress-bar {
    background-color: var(--barra-de-progresso); 
    height: 100%;
    border-radius: 10px;
}

.row-grande {
    display: flex;
    gap: 20px;
}

.card-info.grande {
    flex: 1;
    min-height: 140px;
    justify-content: center;
}

.card-info.grande .desc {
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 20px;
    max-width: 90%;
}

.loader {
    font-size: 13px;
    opacity: 0.6;
    font-style: italic;
}

.historico-section {
    background: var(--text-branco);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05); 
    border: 1px solid #eee;
}

.historico-section h3 {
    margin: 20px 0px 20px 12px;
    color: #333;
    font-size: 18px;
}

.table-container {
    width: 100%;
    overflow-x: auto; 
}

#tabela-historico {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

#tabela-historico thead tr {
    background-color: var(--unb-verde); 
    color: var(--text-branco);
    text-align: left;
}

#tabela-historico th, 
#tabela-historico td {
    padding: 12px 15px;
}

#tabela-historico tbody tr {
    border-bottom: 1px solid var(--text-branco);
    color: var(--text-preto);
}

#tabela-historico tbody tr:last-child {
    border-bottom: none;
}

#tabela-historico tbody tr:hover {
    background-color: rgb(225, 225, 225);
}

.bold-ms {
    font-weight: 700;
    color: var(--unb-verde); 
}